.App {
  text-align: center;
}

.RangeExample{
  text-align: center;
}

.Main{
  padding-top: 30px;
  text-align: center;
}

table th{
   border:1px solid black;
 }

table td{
  border:1px solid black;
}